#%RAML 1.0
title: salon booking API
baseUri: http://api.salonbooking.com/{version}
version: v1

/books:
  get:
    queryParameters:
      author:
      publicationYear:
      rating:
      isbn:
  put:
  post:
  /{bookTitle}:
    get:
      queryParameters:
        author:
          displayName: Author
          type: string
          description: An author's full name
          example: Mary Roach
          required: false
        publicationYear:
          displayName: Pub Year
          type: number
          description: The year released for the first time
          example: 1984
          required: false
        rating:
          displayName: Rating
          type: number
          description: Average rating (1-5) submitted by users
          example: 3.14
          required: false
        isbn:
          displayName: ISBN
          type: string
          minLength: 10
          example: 032134567
      description: Retrieve a specific book title
      responses:
        200:
          body:
            application/json:
              example: |
                {
                  "data": {
                    "id": "Sgbk",
                    "title": "My stiffs are working",
                    "description": null,
                    "datetime": 13234567,
                    "genre": "Science",
                    "author": "mary Roach",
                    "link": "http://e-bookmobile.com/books/stiff"
                    },
                    "success": true,
                    "status": 200
                }
    put:
      queryParameters:
        access_token:
          displayName: Access Token
          type: string
          description: Token giving permission to make call
          required: true
    delete:
    /author:
      get:
    /publisher:
      get:
